# This file specifies the teams that be the owners of the content in
# the repo, accountable for review and release to stage. 

# One of the specified team will need to review updates when an author opens a pull request before it can be accepted.

# Add the reviewing team accountable below - E.g.  '* @LwC-ContentHub/internal-lwc-ent-authors'



# Protecting some of the module internals: No need to update these. Admins will be flagged if these files are updated.
.github/workflows/ @LwC-ContentHub/internal-lwc-content-admins
.gitattributes @LwC-ContentHub/internal-lwc-content-admins
.vscode/ @LwC-ContentHub/internal-lwc-content-admins